<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Systems Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

</head>
<body>

<h2 class="text-center bg-success px-3 py-3 fw-bold">Systems Home Page</h2>

<hr>

<p class="px-5">
    <span class="fw-normal mt-2 mb-2">Here is the small secret for all admins...</span> <br> <br>
    Curise is for Carribean Islands. Enjoy!!
    <br>
    Don't tell anyone.:-)
</p>

<div class="px-5">
    <a th:href="@{/}" class="btn btn-outline-primary mt-5">Back to Home</a>
</div>


</body>
</html>